<body>
    <div class='flex flex-col items-center py-4'>
    <img alt='Cartoon illustration of a stack of brightly coloured books' src="https://cdn.theatlantic.com/thumbor/JAo-a33HuGI4ElimNHBLxzMvo7k=/0x1:4480x5601/648x810/media/img/2022/11/11/PUZZLER_portrait/original.jpg"/>
    </div>
</body>